@import 'tailwindcss';
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geist:wght@100..900&family=Hind+Madurai:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiro+Bangla:ital@0;1&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'aos/dist/aos.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #40916c;
  --color-secondary: #2d3a3a;
  --color-base-100: #f7f7f7;
  --color-accent: #d8f3dc;
  --color-success: #36d399;
}
:root {
  --color-primary: #40916c;
  --color-secondary: #2d3a3a;
  --color-accent: #d8f3dc;
  --color-background: #f7f7f7;
}

body {
  font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial;
  background: linear-gradient(180deg, var(--frosty) 0%, #ffffff 100%);
}

.card-shadow {
  box-shadow: 0 8px 24px rgba(139, 115, 85, 0.08);
}

.baseNavClass {
  @apply text-secondary text-sm font-medium hover:text-[#E76F51] transition duration-300;
}

.heading-h2 {
  @apply inline-block text-4xl font-extrabold text-secondary mb-3 pb-2 border-b-3 border-[#F4A261] hover:border-[#E76F51] transition-colors duration-200;
}

.card-body {
  @apply bg-white p-6 rounded-xl shadow-lg border-[#F4A261] transform hover:shadow-xl transition duration-300 h-full flex flex-col justify-start;
}

.btn-primaryy {
  @apply btn bg-[#F4A261] hover:bg-[#E76F51] text-white font-bold border-none shadow-md mt-4;
}
